body {
    width: 100%;
    max-height: 100%;
    padding-top: 70px;
    margin: 0;
}

.background-wrapper {
    width: 100%;
    background: url("../images/night2.jpg") no-repeat;
    background-size: cover;
    position: relative;
    z-index: -100;
}

button span {
    padding: 0;
}

.navbar {
    width: 100%;
    background-color: #000;
    border: none;
}

.navbar-header button, .navbar-collapse {
    background-color: #fff;
}

header {
    width: 100%;
    height: 275px;
    background: url("../images/logo.png") no-repeat center center;
    margin-top: -4%;
    position: relative;
    z-index: 1;
    text-indent: -9999px;
}

.welcome {
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    text-align: center;
    padding: 10px 5px;
    background-color: #f9a123;
    width: 100%;
    position: relative;
    z-index: 2;
}

.btn {
    background: #16a7c4;
    width: 60%;
    border: none;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 20px;
}

a:focus {
    outline: none;
    color: #fff;
}

.modal-form {
    margin-top: -50px;
}

.search {
    width: 60%;
    padding: 1% 1%;
    margin-top: 2%;
    font-size: 1.15em;
}

.search:hover {
    border-color: #CCCCCC;
}

.search:focus{
   color: #666;
}

/* Destinations Page */

.wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.secondary_pg {
    width: 50%;
    height: 50px;
    background: url("../images/sm_logo.png") no-repeat;
    margin: 10px 0 0 30px;
    position: absolute;
    text-indent: -9999px;
}

.row {
    width: 80%;
    position: relative;
    margin: 8% 9% 0 9%;
}

.col-xs-6, .col-md-4 {
    margin-bottom: 3%;
    position: relative;
}

h2 {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    margin: 0 3% 0 -13%;
    font: bold 3em Helvetica, Sans-Serif;
    letter-spacing: -1px;
    color: white;
}

h2 > span {
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.45);
    padding: 10px;
}

.img-responsive {
    width: 85%;
    height: 270px;
}

iframe {
    width: 20%;
    height: 2%;
}

/* Vacation Page */


.btn-block {
    font: 1.5em Helvetica, Sans-Serif;
    color: #666;
    top: 7.5%;
    position: fixed;
    z-index: 100;
    margin:0;
}

.btn-block:hover {
    background: #16a7c4;
    border: none;
    color: #fff;
}

.img-des {
    width: 500px;
    height: 335px;
    border: 3px solid #000;
    margin-top: 24px;
}

.col-lg-4 {
    width:50%;
}

h3 {
    font: 2em 'Philosopher', sans-serif;
}

p {
    font: 1.05em 'Cuprum', sans-serif;
}

.subhead {
    font: 1.65em Arial, Helvetica, Verdana, Tahoma, sans-serif;
    margin: 35px 0 5px 155px;
}

.row.next {
    margin: 0 auto;
    padding-bottom: 10px;
}

h4 {
    font: 1.05em 'Cuprum', sans-serif;
}

.img-responsive.small {
    width: 200px;
    height: 170px;
}

/* sign Up Form */

p.sign-up {
    font-size: 3em;
    font-weight: bold;
    margin: 20px;
}

.form-control {
    width: 100%;
}

form {
    width: 100%;
    margin: 0 auto;
}

.form-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #666;
}

form > .btn {
    margin-top: 2%;
}

/* Contact Us*/

.contact-wrapper {
    width: 80%;
    margin: 0 auto;
}

h3 {
    font-size: 1.5em;
}

.location {
    margin-top: 10%;
}

.location .panel-heading {
    background-color: #2aabd2;
    color: #fff;
}

.office {
    width: 40%;
    float: left;
}

.office .panel-heading {
    background-color: #2aabd2;
    color: #fff;
}

.form {
    width: 55%;
    float: right;
}

.form .panel-heading {
    background-color: #2aabd2;
    color: #fff;
}

label, .panel-heading {
    width: 100%;
}

.address {
    margin: -8% 0;
    padding-bottom: 70px;
}

.form-group .row {
    margin:0 auto;
    width: 90%;
}

.form-control:focus {
    border-color: #d58512;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px #d58512, 0 0 8px #d58512;
    box-shadow: inset 0 1px 1px #d58512, 0 0 8px #d58512;
}

.list-group-item, .list-group-item li {
    border: none;
    line-height: 50%;
}

iframe {
    min-height: 40%;
    width: 100%;
}

/* Results Page */

h1 {
    width: 11.5%;
    margin: 0 0 2% 10%;
    border-bottom: 2px solid #000;
}

img.results {
    width: 100%;
    height: 100%;
}

.row .border  {
    border-left: 3px solid #f9a123;
    margin-top: 1%;
}

div.border {
    background-color: #fff;
    transition: background .5s ease-in;
}

div.border:hover  {
    border-left: 3px solid #16a7c4;
    background: #B7DBF2;
}

/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------- Phone Layout -----------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
@media all and (max-width: 600px) and (min-width: 320px) {



    /* Index Page */

    header {
        background: url("../images/phone_logo.png") no-repeat center center;
        padding-top: 4%;
    }

    .background-wrapper {
        margin-top: -5%;
        height: 310px;
    }

    .welcome {
        font-size: 1.25em;
        padding: 10px 2px;
    }

    .search {
        width: 85%;
    }

    .btn {
        width: 80%;
        font-size: 1.5em;
    }

    /* Sign Up Form */

    .wrapper {
        width: 100%;
    }

    .secondary_pg {
        width: 100%;
        background:none;
        padding: 0;
        position: absolute;
        text-indent: -9999px;
    }

    .btn-block {
        top: 7%;
    }

    .back-btn {
        margin-bottom: 10%;
    }

    form {
        width: 90%;
        height: 10%;
        padding-top: 15px;
    }

    .form-wrapper {
        margin: 0 auto;
        padding: 0;
        text-align: left;
        color: #666;
    }

    form > .btn {
        margin: 2% 1% 0 8%;
    }

    /* Destinations Page */

    .row {
        width: 95%;
        position: relative;
        margin: 0 auto;
    }

    .col-xs-6, .col-md-4 {
        margin-bottom: 3%;
        position: relative;
    }

    h2 {
        top: 37%;
        margin: 0 3% 0 -9%;
        font-size: 1.55em;
    }

    .img-responsive {
        width: 100%;
        height: 140px;
    }

    iframe {
        width: 20%;
        height: 2%;
    }

    /* Individual Page */

    .img-des {
        width: 100%;
        height: 83%;
    }

    iframe {
        width: 100%;
    }

    div.col-lg-4, .next {
        width: 90%;
        margin: 0 auto;
    }

    .row.hawaii {
        height: 30%;
    }

    .subhead {
        margin-left: 5%;
    }

    /* Results Page */

    h1 {
        margin: 0 0 2% 4%;
    }

    .row .border  {
        width: 97%;
        margin-top: 5%;
    }

    .col-xs-3 {
        width: 30%;
        height: 100px;
        padding-bottom: 20px;
    }

    div.col-xs-8 {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* Contact Us*/

    .contact-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    h3 {
        font-size: 1.25em;
    }

    .location {
        margin-top: 4%;
    }

    .form-group .row {
        margin:0 auto;
        width: 30%;
    }

    .list-group-item, .list-group-item li {
        border: none;
        line-height: 100%;
    }

}

/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------- Tablet Layout -----------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
@media (min-width: 600px) {



    /* Index Page */

    header {
        background: url("../images/tablet-mobile.png") no-repeat center center;
        padding-top: 5%;
    }

    .background-wrapper {
        margin-top: -10%;
        height: 300px;
    }

    .welcome {
        font-size: 2em;
        padding: 10px 5px;
    }

    .modal {
        width: 70%;
        margin: 0 auto;
    }

    .btn {
        width: 40%;
        font-size: 1.5em;
    }

    /* Sign Up Form */

    .wrapper {
        width: 100%;
    }

    .secondary_pg {
        width: 100%;
        background:none;
        padding: 0;
        position: absolute;
        text-indent: -9999px;
    }

    .btn-block {
        top: 7%;
    }

    .back-btn {
        margin-bottom: 10%;
    }

    form {
        width: 90%;
        height: 10%;
        padding-top: 15px;
    }

    .form-wrapper {
        width: 80%;
        margin: 0 auto;
        padding: 0;
        text-align: left;
        color: #666;
    }

    form > .btn {
        margin: 2% 1% 0 8%;
    }

    /* Destinations Page */

    .row {
        width: 80%;
        position: relative;
        margin: 0 auto;
    }

    .col-xs-6, .col-md-4 {
        margin-bottom: 3%;
        position: relative;
    }

    h2 {
        top: 37%;
        margin: 0 3% 0 -9%;
        font-size: 2.5em;
    }

    .img-responsive {
        width: 100%;
        height: 160px;
    }

    iframe {
        width: 20%;
        height: 2%;
    }

    /* Individual Page */

    .img-des {
        width: 80%;
        height: 100%;
        margin: 0 auto;
    }

    iframe {
        width: 100%;
    }

    div.col-lg-4 {
        width: 100%;
        height: 300px;
    }

    .next {
        float: right;
        width: 90%;
    }

    .col-sm-3 {
        width: 50%;
        float: left;
    }

    .subhead {
        margin-left: 12%;
    }

    /* Results Page */

    h1 {
        margin: 0 0 2% 4%;
    }

    .row .border  {
        width: 97%;
        margin-top: 5%;
    }

    .col-xs-3 {
        width: 30%;
        height: 100px;
        padding-bottom: 20px;
    }

    div.col-xs-8 {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


}

/*----------------------------------------------------------------------------------------------*/
/*---------------------------------------  Second Tablet Layout -----------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
@media (min-width: 768px) {



    /* Index Page */

    .navbar-header button, .navbar-collapse {
        background: none;
    }

    header {
        background: url("../images/tablet-mobile.png") no-repeat center center;
    }

    .background-wrapper {
        margin-top: -5%;
        height: 350px;
    }

    .welcome {
        font-size: 2em;
        padding: 10px 5px;
    }

    .modal {
        width: 80%;
        margin: 0 auto;
    }

    .btn {
        width: 30%;
        font-size: 1.5em;
    }

    /* Sign Up Form */

    .wrapper {
        width: 100%;
    }

    .secondary_pg {
        width: 100%;
        background:none;
        padding: 0;
        position: absolute;
        text-indent: -9999px;
    }

    .btn-block {
        top: 7%;
    }

    .back-btn {
        margin-bottom: 10%;
    }

    form {
        width: 90%;
        height: 10%;
        padding-top: 15px;
    }

    .form-wrapper {
        width: 80%;
        margin: 0 auto;
        padding: 0;
        text-align: left;
        color: #666;
    }

    form > .btn {
        margin: 2% 1% 0 8%;
    }

    /* Destinations Page */

    .row {
        width: 70%;
        position: relative;
        margin: 0 auto;
    }

    .col-xs-6, .col-md-4 {
        margin-bottom: 3%;
        position: relative;
    }

    h2 {
        top: 37%;
        margin: 0 3% 0 -9%;
        font-size: 3em;
    }

    .img-responsive {
        width: 100%;
        height: 160px;
    }

    iframe {
        width: 20%;
        height: 2%;
    }

    /* Individual Page */

    .img-des {
        width: 80%;
        height: 100%;
        margin: 0 auto;
    }

    iframe {
        width: 100%;
    }

    div.col-lg-4 {
        width: 100%;
        height: 300px;
    }

    .next {
        float: right;
        width: 90%;
    }

    .col-sm-3 {
        width: 50%;
        float: left;
    }

    .subhead {
        margin-left: 12%;
    }

    /* Results Page */

    h1 {
        margin: 0 0 2% 4%;
    }

    .row .border  {
        width: 97%;
        margin-top: 5%;
    }

    .col-xs-3 {
        width: 30%;
        height: 100px;
        padding-bottom: 20px;
    }

    div.col-xs-8 {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


}



/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------- Desktop Layout -----------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
@media (min-width: 800px) {



    /* Index Page */

    .navbar-header button, .navbar-collapse {
        background: none;
    }

    header {
        background: url("../images/logo.png") no-repeat center center;
    }

    .background-wrapper {
        margin-top: -2%;
    }

    .welcome {
        font-size: 2em;
        padding: 10px 5px;
    }

    .btn {
        width: 40%;
        font-size: 1.5em;
    }

    /* Sign Up Form */

    .wrapper {
        width: 100%;
    }

    .secondary_pg {
        width: 100%;
        background:none;
        padding: 0;
        position: absolute;
        text-indent: -9999px;
    }

    .btn-block {
        top: 7%;
    }

    .back-btn {
        margin-bottom: 5%;
    }

    form {
        width: 93%;
        height: 10%;
        padding-top: 15px;
    }

    .form-wrapper {
        width: 50%;
        margin: 0 auto;
        padding: 0;
        text-align: left;
        color: #666;
    }

    form > .btn {
        margin: 2% 1% 0 8%;
    }

    /* Destinations Page */

    .img-responsive {
        width: 80%;
        height: 250px;
    }

    .row {
        width: 95%;
        position: relative;
        margin: 0 auto;
    }

    .col-xs-6, .col-md-4 {
        margin-bottom: 3%;
        position: relative;
    }

    h2 {
        top: 37%;
        margin: 0 3% 0 -15%;
        font-size: 3em;
    }

    /* Individual Page */

    .img-des {
        width: 90%;
        height: 90%;
    }

    iframe {
        width: 100%;
    }

    div.col-lg-4 {
        width: 50%;
        height: 300px;
        float: left;
    }

    .row.hawaii {
        height: 30%;
    }


    .next {
        float: right;
        width: 90%;
    }

    .col-sm-3 {
        width: 23%;
        float: left;
    }

    .subhead {
        margin-left: 12%;
    }

    /* Results Page */

    h1 {
        margin: 0 0 2% 4%;
    }

    .row .border  {
        width: 100%;
        margin-top: 5%;
    }

    .col-xs-3 {
        width: 20%;
        height: 10%;
        padding-bottom: 0;
    }

    div.col-xs-8 {
        width: 80%;
        white-space: normal;
        overflow: auto;
        text-overflow: ellipsis;
    }

    .form-group {
        margin-top: 30px;
    }


    .location {
        margin-top: -4%;
    }


}

/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------- Second Desktop Layout -----------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
@media (min-width: 1200px) {



    /* Index Page */

    .navbar-header button, .navbar-collapse {
        background: none;
    }

    header {
        background: url("../images/logo.png") no-repeat center center;
    }

    .background-wrapper {
        margin-top: -2%;
    }

    .welcome {
        font-size: 2em;
        padding: 10px 5px;
    }

    .btn {
        width: 40%;
        font-size: 1.5em;
    }

    /* Sign Up Form */

    .wrapper {
        width: 100%;
    }

    .secondary_pg {
        width: 100%;
        background:none;
        padding: 0;
        position: absolute;
        text-indent: -9999px;
    }

    .btn-block {
        top: 7%;
    }

    .back-btn {
        margin-bottom: 5%;
    }

    form {
        width: 93%;
        height: 10%;
        padding-top: 25px;
    }

    .form-wrapper {
        width: 50%;
        margin: 0 auto;
        padding: 0;
        text-align: left;
        color: #666;
    }

    form > .btn {
        margin: 2% 1% 0 8%;
    }

    /* Destinations Page */

    .img-responsive {
        width: 90%;
        height: 300px;
    }

    .row {
        width: 80%;
        position: relative;
        margin: 0 auto;
    }

    .col-xs-6, .col-md-4 {
        margin-bottom: 3%;
        position: relative;
    }

    h2 {
        top: 37%;
        margin: 0 3% 0 -5%;
        font-size: 3.5em;
    }

    /* Individual Page */

    .img-des {
        width: 100%;
        height: 90%;
    }

    iframe {
        width: 100%;
    }

    div.col-lg-4 {
        width: 50%;
        height: 300px;
        float: left;
    }

    .row.hawaii {
        height: 30%;
    }


    .next {
        float: right;
        width: 90%;
    }

    .col-sm-3 {
        width: 23%;
        float: left;
    }

    .subhead {
        margin-left: 12%;
    }

    /* Results Page */

    h1 {
        margin: 0 0 2% 4%;
    }

    .row .border  {
        width: 97%;
        margin-top: 5%;
    }

    .col-xs-3 {
        width: 30%;
        height: 100px;
        padding-bottom: 20px;
    }

    div.col-xs-8 {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* Results Page */

    h1 {
        margin: 0 0 2% 4%;
    }

    .row .border  {
        width: 100%;
        margin-top: 5%;
    }

    .col-xs-3 {
        width: 20%;
        height: 10%;
        padding-bottom: 0;
    }

    div.col-xs-8 {
        width: 80%;
        white-space: normal;
        overflow: auto;
        text-overflow: ellipsis;
    }

    .form-group {
        margin-top: 30px;
    }


    .location {
        margin-top: -4%;
    }




}